In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb
 
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.cluster import KMeans
 
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv("customers-data.csv")

In [3]:
df.shape

(24000, 4)

In [4]:
df.head()

   customer_id  products_purchased  complains  money_spent
0      1000661                   1          0        260.0
1      1001914                   1          0        790.2
2      1002167                   3          0        234.2
3      1002387                   1          0        890.0
4      1002419                   2          0        103.0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24000 entries, 0 to 23999
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   customer_id         24000 non-null  int64
 1   products_purchased  24000 non-null  int64
 2   complains           24000 non-null  int64
 3   money_spent         24000 non-null  float64
dtypes: float64(1), int64(3)
memory usage: 750.1 KB

In [6]:
df.describe()

        customer_id  products_purchased     complains   money_spent
count  2.400000e+04        24000.000000  24000.000000  24000.000000
mean   1.001908e+06            1.600000      0.010000    456.830000
std    6.489202e+02            0.800017      0.117901    320.704042
min    1.000660e+06            1.000000      0.000000    102.000000
25%    1.001913e+06            1.000000      0.000000    233.700000
50%    1.002166e+06            1.000000      0.000000    260.500000
75%    1.002387e+06            2.000000      0.000000    793.200000
max    1.002419e+06            3.000000      2.000000    894.000000